In [7]:
import os
import pandas as pd

# Set the path to the folder containing the CSV files
folder_path = '../Merged'

# Get a list of all the CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Initialize an empty list to store the normalized dataframes
normalized_dfs = []

# Loop over each CSV file and normalize the data
for csv_file in csv_files:
    # Read in the CSV file as a dataframe
    df = pd.read_csv(os.path.join(folder_path, csv_file))
    
    # Get the first three rows of the dataframe
    first_three_rows = df.head(3)
    
    # Calculate the mean and standard deviation of each feature
    means = first_three_rows.mean()
    stds = first_three_rows.std()
    
    # Use the means and standard deviations to normalize the rest of the data
    df.iloc[:, :-1] = (df.iloc[:, :-1] - means) / stds
    
    # Add the normalized dataframe to the list
    normalized_dfs.append(df)

# Concatenate the dataframes into a single feature matrix
X = pd.concat(normalized_dfs, ignore_index=True)

In [8]:
X

       Unnamed: 0        ID  EAR        MAR        CIR  MOE  State
0       -0.850956 -0.558621  NaN  -0.386565   0.584410  NaN     10
1       -0.250470 -0.595879  NaN  -0.749016   0.570262  NaN     10
2        1.101426  1.154500  NaN   1.135581  -1.154672  NaN     10
3      -27.181953 -6.800434  NaN  70.228827  22.164095  NaN     10
4       -2.972520  4.691170  NaN  94.595960   8.809712  NaN     10
...           ...       ...  ...        ...        ...  ...    ...
29876    0.834786  0.573084  inf  -0.817496  -1.069647  NaN      0
29877   -1.638546  0.516905  inf  -1.287472  -1.380356  NaN      0
29878    0.834786  0.573084  inf  -1.087818  -1.268496  NaN      0
29879    1.881993  0.629264  inf  -1.010390  -1.247219  NaN      0
29880   -4.008517 -1.410767  inf  -0.910042   0.419450  NaN      0

[29881 rows x 7 columns]